<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="404.css" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
    </style>
</head>

<body>
    <div class="body">
        <div class="container">
            <div class="error-text">
                <p class="text title">
                    <b>
                        Ошибка 404
                    </b>
                    <br>
                    <span class="text subtitle">
                        Ой... Мы не можем найти страницу. 
                    </span>
            </div>
        </div>
    </div>
</body>

</html>