{{!< mobile}}
    <div>
        <div class="tag">Some tag 1</div>
    </div>
    <p class="post-date">13 декабря 2022</p>
    <div>
        <h1>Управление ИТ-активами – скучная рутина или творческая задача?</h1>
    </div>
    <div>
        <p>Управление ИТ-активами, как и управление конфигурациями, является базовым процессом для других. В первом случае более важным является финансовый аспект, во втором – эксплуатационные задачи. Оба процесса можно перегрузить деталями и превратить во что-то рутинное. Как же найти баланс и сделать процесс по-настоящему «живым»?</p>
        <figure>
            <img src="#" alt="img">
            <figcaption>Учёт из рутины может превратиться в интересную задачу, своего рода «вызов» по переходу на новый уровень.</figcaption>
        </figure>
        <p>Конечно, баланс унификации и персонального подхода – дело каждого. Вспомним историю про послевоенное автомобилестроение: американская и японская тактика. Постепенно японцы достигли превосходства благодаря, в том числе, выверенному балансу унификации и культуре производства. Но это правило не для всех.</p>
        <figure>
            <img src="#" alt="img">
        </figure>
    </div>
    <a class="button-primary" href="./index.hbs">Назад</a>
